<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
</head>
<body>
        <h2>Clubs_list</h2><a href="{{url_for('index')}}">Back to index</a>

<!--    <h3>Clubs:</h3>-->
<!--    <ul>-->
<!--        {% for club in clubs%}-->
<!--        <li>-->
<!--            {{club['name']}} - {{club['points']}} points-->
<!--        </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    <table style="margin:10px; border: 1px; border-color: #1e1e1e; background-color: #e7e7e7; padding: 5px">
        <thead>
            <tr>
                <th colspan="2">Clubs</th>
            </tr>
            <tr>
                <th>Nom</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for club in clubs%}
                <tr>
                    <td>{{club['name']}}</td>
                    <td style="text-align: right">{{club['points']}} points</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>